In [1]:
import numpy as np
import pandas as pd
from preprocessing import *
from baseline_models import *
import pickle

Using TensorFlow backend.
The cache for model files in Transformers v4.22.0 has been updated. Migrating your old cache. This is a one-time only operation. You can interrupt this and resume the migration later on by calling `transformers.utils.move_cache()`.

Moving 0 files to the new cache system

0it [00:00, ?it/s]

In [32]:
"""store_file = open("rt-polarity/rt-processed-tokenized-padded.pkl", "rb")
data = pickle.load(store_file)
store_file.close()
"""
data = pd.read_csv("rt-polarity/rt-polarity-processed.csv")
data.head()

,label,review,review_tokenized
0,0,it so laddish and juvenile only teenage boys c...,[ 5 36 9967 2 2919 62 1825 785 97 ...
1,0,exploitative and largely devoid of the depth o...,[2160 2 927 1232 3 1 650 38 4582 ...
2,0,garbus discards the potential for pathologica...,[9968 9969 1 811 13 9970 354 9971 301 ...
3,0,a visually flashy but narratively opaque and e...,[ 19 538 1826 10 3884 3343 2 651 2606 ...
4,0,the story is also as unoriginal as they come a...,[ 1 39 6 140 9 2607 9 68 218 ...

In [33]:
from transformers import BertTokenizer

tokenizer = BertTokenizer.from_pretrained('bert-base-cased')

In [34]:
output = tokenizer(data["review"][0], padding='max_length', max_length = 50, truncation=True, return_tensors="pt")

In [35]:
output

{'input_ids': tensor([[  101,  1122,  1177, 19122, 10396,  1324,  1105, 15031,  1178, 11009,
          3287,  1180,  3566,  1525,  1122,  6276,   102,     0,     0,     0,
             0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
             0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
             0,     0,     0,     0,     0,     0,     0,     0,     0,     0]]), 'token_type_ids': tensor([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0]]), 'attention_mask': tensor([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0]])}

In [36]:
print(output["input_ids"][0])
tokenizer.decode(output["input_ids"][0])

tensor([  101,  1122,  1177, 19122, 10396,  1324,  1105, 15031,  1178, 11009,
         3287,  1180,  3566,  1525,  1122,  6276,   102,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])

'[CLS] it so laddish and juvenile only teenage boys could possibly find it funny [SEP] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD]'

In [37]:
data.loc[0, "review"]

'it so laddish and juvenile only teenage boys could possibly find it funny '

In [39]:
from tqdm import tqdm
tqdm.pandas()
data["review_tkn"] = data["review"].progress_apply(lambda x: tokenizer(x, padding='max_length', max_length = 50, truncation=True, return_tensors="pt"))
data.head()

100%|██████████| 10661/10661 [00:05<00:00, 2108.60it/s]

,label,review,review_tokenized,review_tkn
0,0,it so laddish and juvenile only teenage boys c...,[ 5 36 9967 2 2919 62 1825 785 97 ...,"[input_ids, token_type_ids, attention_mask]"
1,0,exploitative and largely devoid of the depth o...,[2160 2 927 1232 3 1 650 38 4582 ...,"[input_ids, token_type_ids, attention_mask]"
2,0,garbus discards the potential for pathologica...,[9968 9969 1 811 13 9970 354 9971 301 ...,"[input_ids, token_type_ids, attention_mask]"
3,0,a visually flashy but narratively opaque and e...,[ 19 538 1826 10 3884 3343 2 651 2606 ...,"[input_ids, token_type_ids, attention_mask]"
4,0,the story is also as unoriginal as they come a...,[ 1 39 6 140 9 2607 9 68 218 ...,"[input_ids, token_type_ids, attention_mask]"

In [40]:
data["review_tkn"][0]

{'input_ids': tensor([[  101,  1122,  1177, 19122, 10396,  1324,  1105, 15031,  1178, 11009,
          3287,  1180,  3566,  1525,  1122,  6276,   102,     0,     0,     0,
             0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
             0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
             0,     0,     0,     0,     0,     0,     0,     0,     0,     0]]), 'token_type_ids': tensor([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0]]), 'attention_mask': tensor([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0]])}

In [42]:
data["review_tkn"][0]["input_ids"].shape

torch.Size([1, 50])

In [13]:
X = np.stack(data["review_tokenized"].values)
Y = data["label"].values
print(f"Shape of X: {X.shape}, shape of Y: {Y.shape}")

Shape of X: (10661, 50), shape of Y: (10661,)

In [10]:
len(np.unique(X)), np.max(X), len(np.unique(Y))

(18148, 18147, 2)

In [16]:
df = pd.DataFrame(X)
df["label"] = Y
df.head()

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,label
0,5,36,9967,2,2919,62,1825,785,97,1112,...,0,0,0,0,0,0,0,0,0,0
1,2160,2,927,1232,3,1,650,38,4582,8,...,0,0,0,0,0,0,0,0,0,0
2,9968,9969,1,811,13,9970,354,9971,301,1,...,0,0,0,0,0,0,0,0,0,0
3,19,538,1826,10,3884,3343,2,651,2606,412,...,0,0,0,0,0,0,0,0,0,0
4,1,39,6,140,9,2607,9,68,218,493,...,0,0,0,0,0,0,0,0,0,0

In [44]:
import torch

x = torch.Tensor([[1,2,3], [1,23,3]])
x = torch.unsqueeze(x, -1)
x.shape

torch.Size([2, 3, 1])

In [17]:
df.to_csv("rt-processed-tokenized-padded.csv")

In [64]:
import re

"output.csv".endswith(".csv")

True