In [1]:
import numpy as np
import pandas as pd
from preprocessing import *
from baseline_models import *
import pickle

Using TensorFlow backend.

Using cpu.

In [2]:
store_file = open("rt-processed-tokenized-padded", "rb")
data = pickle.load(store_file)
store_file.close()

data.head()

,label,review,review_tokenized
0,0,it so laddish and juvenile only teenage boys c...,"[5, 36, 9967, 2, 2919, 62, 1825, 785, 97, 1112..."
1,0,exploitative and largely devoid of the depth o...,"[2160, 2, 927, 1232, 3, 1, 650, 38, 4582, 8, 8..."
2,0,garbus discards the potential for pathologica...,"[9968, 9969, 1, 811, 13, 9970, 354, 9971, 301,..."
3,0,a visually flashy but narratively opaque and e...,"[19, 538, 1826, 10, 3884, 3343, 2, 651, 2606, ..."
4,0,the story is also as unoriginal as they come a...,"[1, 39, 6, 140, 9, 2607, 9, 68, 218, 493, 604,..."

In [3]:
data["review_tokenized"].values

array([array([   5,   36, 9967,    2, 2919,   62, 1825,  785,   97, 1112,  214,
                 5,   65,    0,    0,    0,    0,    0,    0,    0,    0,    0,
                 0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
                 0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
                 0,    0,    0,    0,    0,    0], dtype=int32)                ,
       array([2160,    2,  927, 1232,    3,    1,  650,   38, 4582,    8,   85,
                67,  195,  155, 1986, 1177,    3,    1, 1287, 7108,    0,    0,
                 0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
                 0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
                 0,    0,    0,    0,    0,    0], dtype=int32)                ,
       array([9968, 9969,    1,  811,   13, 9970,  354, 9971,  301,    1, 5544,
               434,    3,    1, 7109,  845,    0,    0,    0,    0,    0,    0,
                 0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
                 0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
                 0,    0,    0,    0,    0,    0], dtype=int32)                ,
       ...,
       array([ 5057,     7,     1,  2896,     3,  4512,     6,     1,    80,
                148,     3,   176,    24,     8,    77, 18143,  4346,   154,
                 73,    52,    25,  2826,    92,  5530,     0,     0,     0,
                  0,     0,     0,     0,     0,     0,     0,     0,     0,
                  0,     0,     0,     0,     0,     0,     0,     0,     0,
                  0,     0,     0,     0,     0], dtype=int32)              ,
       array([    5,   701,     4,   105, 18144,   257,   184,    33,   188,
                232,     2, 18145,     2, 18146,    29,  6901,     0,     0,
                  0,     0,     0,     0,     0,     0,     0,     0,     0,
                  0,     0,     0,     0,     0,     0,     0,     0,     0,
                  0,     0,     0,     0,     0,     0,     0,     0,     0,
                  0,     0,     0,     0,     0], dtype=int32)              ,
       array([  738, 18147,    49,     8,  2544,  9763,  4051,     8,  3575,
                 81,    33,     0,     0,     0,     0,     0,     0,     0,
                  0,     0,     0,     0,     0,     0,     0,     0,     0,
                  0,     0,     0,     0,     0,     0,     0,     0,     0,
                  0,     0,     0,     0,     0,     0,     0,     0,     0,
                  0,     0,     0,     0,     0], dtype=int32)              ],
      dtype=object)

In [50]:
type(data["review_tokenized"][0])

numpy.ndarray

In [5]:
X = np.stack(data["review_tokenized"].values)
Y = data["label"].values
print(f"Shape of X: {X.shape}, shape of Y: {Y.shape}")

Shape of X: (10661, 50), shape of Y: (10661,)

In [10]:
len(np.unique(X)), np.max(X), len(np.unique(Y))

(18148, 18147, 2)

In [64]:
import re

"output.csv".endswith(".csv")

True